#canvas{
  position: absolute;
  z-index: 1;
}

#video{
  position: absolute;
  z-index: 0;
}

#rainbowImage{
  position: absolute;
  z-index: 0;
}
html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#canvas-container {
  display: flex;
  justify-content: center;
  position: relative; /* Make the container a positioned parent */
}

#canvas-container canvas {
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); /* 
}

